html, body {
  margin: 0;
  padding: 0;
  max-width: 1000px; 
  max-height: 1000px;
}
canvas {
  display: block;
  padding: 5px;
}
* {
  box-sizing: border-box;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  width:400px; 
  height:300px; 
  padding: 10px;
}

.column {
  float: left;
  position: relative;
}

.left {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.right {
  width: 40%;
   position: absolute;
  top: 50%;
  left: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
