html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  padding: 10px;
  max-width: 1000px; 
  max-height: 400px;
  width: 60%;
}
* {
  box-sizing: border-box;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  width: 290px; 
  height: 290px; 
  padding: 10px;
}

.column {
  float: left;
}

.left {
  width: 60%;
  align-self: center;
}

.right {
  width: 40%;
  align-self: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
